In [1]:
import pandas as pd

In [4]:
print( "hello")

hello

In [5]:
print('Muhammad Usama')

Muhammad Usama

In [6]:
a = input("enter your name:")
print("My name is ", a)

enter your name:Usama
My name is  Usama

In [10]:
# Sum of 2 integer
x= input("Enter first num :")
y= input("Enter second num :")
print(int(x)+int(y))

Enter first num :2
Enter second num :2
4

In [11]:
l='''hey i am muhammad usama the man who did his graduation   '''
print (l)

hey i am muhammad usama the man who did his graduation

In [12]:
name = "Usama"
print(name[2])

a

In [13]:
names = "usama , ahmad"
print(names[0:5])

usama

In [14]:
print (len(names))

13

In [16]:
# Negative Indexing
nam="usama"
print(nam[-4:-3] )

s

In [18]:
# Count 
str = "hello man how are you here meet he is charless from indonasia his colour is black but he is a skilled person."
print(str.count("he"))

4